ion-card-title, ion-label h2 {
  font-weight: bold;
}

ion-card {
  margin-bottom: 20px;
}

ion-list-header {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #2f3e46;
}

ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
  font-size: 0.95rem;
}
