<ion-header>
  <ion-toolbar>
    <ion-title>Add New Plant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Plant Details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Plant Name</ion-label>
        <ion-input [(ngModel)]="plantName"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="takePhoto()">Take Photo</ion-button>
      <div *ngIf="photo">
        <img [src]="photo" style="width: 100%; margin-top: 10px; border-radius: 10px;" />
      </div>

      <ion-button expand="block" color="success" (click)="addPlant()">Save Plant</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
